@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold.ttf') format('truetype');        
    font-weight: bold; 
    font-style: normal;
}






